<main>
    <h2>Profile</h2>
    <div>
        <label for="">Username: </label>
        <input type="text" value="{{driver.username}}" />
    </div>
    <div>
        <label for="">Full Name:</label>
        <input type="text" value="{{driver.fullName}}" />
    </div>
    <div>
        <label for="">Vehicle Model</label>
        <input type="text" value="{{driver.vehicleModel}}" />
    </div>
    <div>
        <label for="">Vehicle Color</label>
        <input type="text" value="{{driver.vehicleColor}}" />
    </div>
    <div>
        <label for="">License Plate:</label>
        <input type="text" value="{{driver.licensePlate}}" />
    </div>
</main>