<main>
    <h2>My Profile</h2>
    <div class="update-status-form">
        <label for="customer-info">Personal Info:</label>
        <ul name="customer-info">
            <li>Username: {{driver.username}}</li>
            <li>Full Name: {{driver.fullName}}</li>
        </ul>

        <label for="customer-info">Vehicle Info:</label>
        <ul name="customer-info">
            <li>Vehicle Model: {{driver.vehicleModel}}</li>
            <li>Vehicle Color: {{driver.vehicleColor}}</li>
            <li>License Plate: {{driver.licensePlate}}</li>
        </ul>
        <p class="order-date">Account created at: {{driver.createdAt}}</p>
    </div>
</main>