<main>
    <h2>In Transit</h2>
    {{#if hasOrders}}
        {{#each orderList}}
            <form
                action="/update_status/{{this._id}}"
                class="update-status-form"
                method="post"
            >
                <label for="customer-info">Customer Info:</label>
                <ul name="customer-info">
                    <li>Name: {{this.customerName}}</li>
                    <li>Address: {{this.deliveryAddress}}</li>
                    <li>Phone Number: {{this.phoneNumber}}</li>
                </ul>

                <label name="order-items">Order Items:</label>
                <ul name="order-items">
                    {{#each this.itemsOrdered}}
                        <li>{{this.name}}</li>
                    {{/each}}
                </ul>

                <label name="order-items">Driver Info:</label>
                <ul name="order-items">
                    <li>Driver Name: {{this.driver.fullName}}</li>
                    <li>Vehicle Model: {{this.driver.vehicleModel}}</li>
                    <li>Vehicle Color: {{this.driver.vehicleColor}}</li>
                    <li>License Plate: {{this.driver.licensePlate}}</li>
                </ul>
                <p class="order-date">Order placed at: {{this.createdAt}}</p>

            </form>
        {{/each}}
    {{else}}
        <div class="div-center">
            <h1>No orders are In Transit currently.</h1>
        </div>
    {{/if}}
</main>