<main>
    <h2>Orders Received</h2>
    {{#if hasOrders}}
        {{#each orderList}}
            <form
                action="/update_status/{{this._id}}"
                class="update-status-form"
                method="post"
            >
                <label for="customer-info">Customer Info:</label>
                <ul name="customer-info">
                    <li>Name: {{this.customerName}}</li>
                    <li>Address: {{this.deliveryAddress}}</li>
                    <li>Phone Number: {{this.phoneNumber}}</li>
                </ul>

                <label name="order-items">Order Items:</label>
                <ul name="order-items">
                    {{#each this.itemsOrdered}}
                        <li>{{this.name}}</li>
                    {{/each}}
                </ul>
                <input
                    type="hidden"
                    name="newStatus"
                    value="READY FOR DELIVERY"
                />
                <div class="order-date-and-btn">
                    <p class="order-date">Order placed at:
                        {{this.createdAt}}</p>
                    <button class="btn-change-status" type="submit">Ready for
                        Delivery</button>
                </div>

            </form>
        {{/each}}
    {{else}}
        <div class="div-center">
            <h1>No received orders yet.</h1>
            <p>
                Go to
                <a href="/to_be_received">To Be Received</a>
                to receive incoming orders.
            </p>
        </div>
    {{/if}}
</main>